rich
textual
python-docx
openpyxl
pandas
numpy
Pillow
docxtpl
pytest
fastapi
requests
PyPDF2
wasmtime
fastapi-users[sqlalchemy]
aiosqlite
httpx[http2]
uvicorn[standard]
boto3
asyncpg
psycopg2-binary
psycopg
watchfiles